# Ignore everything in figures directory except PNGs and TEX files
docs/figures/*
!docs/figures/*.png
!docs/figures/*.tex

local/
**/local/
**/models/
**/trained_models/
**/trained_ppo_model/
**/transformers/
**/large_datasets
**/__pycache__/
**/model_checkpoints/
**/test_models
**/gemma
**/cpoints
venv/
**/venv/
venv3.10/
venv3.11/
f/